./api/node_modules
./api/dist
./api/.env

./services/node_modules
./services/dist
./services/.env

./services/auth/node_modules
./services/auth/dist
./services/auth/.env

./services/courses/node_modules
./services/courses/dist
./services/courses/.env

./services/sales/node_modules
./services/sales/dist
./services/sales/.env

api/node_modules
api/dist
api/.env

services/node_modules
services/dist
services/.env

services/auth/node_modules
services/auth/dist
services/auth/.env

services/courses/node_modules
services/courses/dist
services/courses/.env

services/sales/node_modules
services/sales/dist
services/sales/.env
